<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <div id="map"></div>
      </div>


    <form action="/new" method="post">
      <label>Beach Name</label>
    <input type="text" id="searchBar" name="name">
    <label>Latitude</label>
    <input type="text" name="latitude" id="latitude" readonly>
    <label>Longitude</label>
    <input type="text" name="longitude" id="longitude" readonly>
    <label>Flag Color</label>
    <select name="flag" id="flag">
      <option id="green" value="green">Green (Safe to swin)</option>
      <option id="yellow" value="yellow">Yellow (Be careful)</option>
      <option id="red" value="red">Red (No swimming)</option>
    </select>
    <input type="submit" value="Sumbit!">
    </form>

    <% for (var i=0; i<beaches.length; i++){%>
      <a href=<%="/"+beaches[i]._id%>><div> <p><%=beaches[i].name%> has a <span id=<%=beaches[i].flag%>><%=beaches[i].flag%> flag</span> updated at <%=beaches[i].updated_at%>></p> </div></a>
    <% } %>
    <script type="text/javascript">
      var myBeaches = <%- JSON.stringify(beaches) %>;
      var myBeach = <%- JSON.stringify(beach) %>
      </script>
      <script type="text/javascript" 
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkS2ZKYa3xtCIJpDDZxsGbbzjG2Yobrww&libraries=places">
    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
  
</html>
